@page "/viewmail"
@using System.Diagnostics
@using GmailCleaner.Data.Gmail
@using GmailCleaner.Data.Gmail.Models

<h3>Get Mail</h3>

<BSContainer>
    @if (_messages.Any())
    {
        <BSTable>
            <BSTHead>
                <BSTR>
                    <BSTD>Id</BSTD>
                    <BSTD>Sender</BSTD>
                    <BSTD>Subject</BSTD>
                </BSTR>
            </BSTHead>
            <BSTBody>
                @foreach (var message in _messages)
                {
                    <BSTR>
                        <BSTD>@message.StoredMessageId</BSTD>
                        <BSTD>@message.Sender</BSTD>
                        <BSTD>@message.Subject</BSTD>
                    </BSTR>
                }
            </BSTBody>
        </BSTable>
    }
    else
    {
        <BSButton onclick="@(async () => await AddMessagesAsync())">Add Messages</BSButton>
    }
</BSContainer>

@code {
    private List<StoredMessage> _messages = new();

    protected override async Task OnInitializedAsync()
    {
        using (var context = new GmailDbContext())
        {
            Debug.WriteLine($"Path: {context.DbPath}");
            
            await context.Database.EnsureCreatedAsync();
            
            _messages = context.Messages.ToList();
        }

        await base.OnInitializedAsync();
    }

    private async Task AddMessagesAsync()
    {
        var messages = new List<StoredMessage>
        {
            new StoredMessage
            {
                StoredMessageId = 1,
                Sender = "Sender1",
                Subject = "Subject1",
            },
            new StoredMessage
            {
                StoredMessageId = 2,
                Sender = "Sender2",
                Subject = "Subject2",
            }
        };

        using (var context = new GmailDbContext())
        {
            await context.Messages.AddRangeAsync(messages);
            await context.SaveChangesAsync();
        }
    }
}
