@page "/google/authorize"
@using GmailCleaner.Services.GmailApi
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.Extensions.Primitives
@using System.Diagnostics
@using System.Text.Json

@inject NavigationManager _navigation

<h3>GmailAuthorize</h3>
<p>@_messages</p>

@code {
    private string _messages = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        Debug.WriteLine($"Init URI: {_navigation.Uri}");
        var uriParts = _navigation.Uri.Split('#');

        if (uriParts.Length == 2)
        {
            await GetMessagesAsync(uriParts[1]);
        }

        await base.OnInitializedAsync();
    }

    private async Task GetMessagesAsync(string tokenQueryString)
    {
        var tokenParts = QueryHelpers.ParseQuery(tokenQueryString);

        var authToken = tokenParts["access_token"];

        var gmailService = new GmailApiService(authToken);

        var messageResponse = await gmailService.ListMessagesAsync("smkoontz1@gmail.com");

        _messages = JsonSerializer.Serialize(messageResponse.Messages);
    }
}
