@page "/test-gmail"
@using Flurl
@using Flurl.Http
@using Google.Apis.Auth.OAuth2
@using Google.Apis.Gmail.v1
@using Google.Apis.Services
@using Google.Apis.Util.Store
@using System.Text.Json
@using System.Diagnostics

@inject NavigationManager _navigation

<h3>TestGmailAuth</h3>

<p>If it worked, data is here:</p>
<p>@_authUrl</p>

@code {
    private string _authUrl = string.Empty;
    private string _responseJson = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await LoadMessagesAsync();

        await base.OnInitializedAsync();
    }

    private async Task LoadMessagesAsync()
    {
        Debug.WriteLine("Loading messages");

        var authEndpoint = "https://accounts.google.com/o/oauth2/v2/auth"
            .SetQueryParams(new
            {
                client_id = "771093418835-kao6u6nmsqtmtbo0vuje4iar7k84a01k.apps.googleusercontent.com",
                redirect_uri = "https://localhost:7142/google/authorize",
                response_type = "token",
                scope = "https://mail.google.com/",
                include_granted_scopes = "true",
            });

        _authUrl = authEndpoint.ToString();

        _navigation.NavigateTo(_authUrl);
    }
}
